/* General Reset */
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none ;
  -webkit-font-smoothing: antialiased;
  
}


menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Frame Style */
.frame {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
  background: none;
  min-height: 20vh;
}

/* Card Styles */
.card,
.card2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card {
  background: #1b263b;
}

.card2 {
  background: #415a77;
}

.card:nth-child(3) {
  background: #778da9;
}

/* Hover Effects */
.card:hover,
.card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Content Styling */
.content {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text2,
.text6 {
  font-weight: 600;
  color: #ffffff;
}

.text3,
.text4,
.text5,
.text7,
.text8 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-set img {
  width: 24px;
  height: 24px;
}

.arrow-fall,
.arrow-fall2 {
  filter: drop-shadow(0px 0px 2px red);
}

.arrow-rise {
  filter: drop-shadow(0px 0px 2px green);
}
